@tailwind base;
@tailwind components;
@tailwind utilities;

.blurBlackground{
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    filter: brightness(1.5);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}