@tailwind base;
@tailwind components;
@tailwind utilities;

.blurBlackground{
    background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0)
    );
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 1px solid rgba(225, 225, 225, 0.18);   
}